@model WebApplication1final.Models.ReportLocal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportLocal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AbuserDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
